CREATE DATABASE if NOT EXISTS banking_system;

USE banking_system;


CREATE TABLE IF NOT EXISTS accHolder (
  acct_no BIGINT PRIMARY KEY,
  holder_name VARCHAR(50) NOT NULL,
  phone_no VARCHAR(15),
  email VARCHAR(50),
  address VARCHAR(100),
  initial_balance DECIMAL(15, 2),
  loan_taken VARCHAR(5)
);

-- Insert some sample account holders
INSERT INTO accHolder (acct_no, holder_name, phone_no, email, address, initial_balance, loan_taken) VALUES
(1234567890, 'John Doe', '9876543210', 'john.doe@email.com', '123 River Road', 50000.00, "YES"),
(1234567891, 'Jane Smith', '9876543211', 'jane.smith@email.com', '456 Oak Avenue', 75000.00, "NO"),
(1234567892, 'Peter Jones', '9876543212', 'peter.jones@email.com', '789 Pine Lane', 120000.00, "YES")
ON DUPLICATE KEY UPDATE holder_name=VALUES(holder_name);

CREATE TABLE IF NOT EXISTS feedback (
  acct_no BIGINT,
  feedback_text varchar(5000),
  FOREIGN KEY (acct_no) REFERENCES accHolder(acct_no)
  );
--@block


--@block

--@block

-- Create admin_data table
CREATE TABLE IF NOT EXISTS admin_data (
  username VARCHAR(30) PRIMARY KEY,
  password VARCHAR(30) NOT NULL
);

-- Insert admin accounts (with ON DUPLICATE KEY to avoid duplicates)
INSERT INTO admin_data (username, password) VALUES
('admin', 'password123'),
('manager', 'securePass!'),
('officer', 'bank@321')
ON DUPLICATE KEY UPDATE password = VALUES(password);

--@block
-- Create transaction table
CREATE TABLE IF NOT EXISTS transactions (
  transaction_id INT AUTO_INCREMENT PRIMARY KEY,
  acct_no BIGINT,
  transaction_type VARCHAR(20) NOT NULL,
  amount DECIMAL(15, 2) NOT NULL,
  transaction_date DATE DEFAULT (CURRENT_DATE),
  FOREIGN KEY (acct_no) REFERENCES accHolder(acct_no) ON DELETE CASCADE
);


INSERT INTO transactions (acct_no, transaction_type, amount, transaction_date) VALUES
(1234567890, 'deposit', 5000.00, '2025-09-01'),
(1234567890, 'withdrawal', 1500.00, '2025-09-02'),
(1234567891, 'deposit', 10000.00, '2025-09-02'),
(1234567891, 'withdrawal', 2000.00, '2025-09-03'),
(1234567892, 'deposit', 25000.00, '2025-09-04'),
(1234567892, 'withdrawal', 5000.00, '2025-09-05'),
(1234567890, 'withdrawal', 1000.00, '2025-09-06'),
(1234567891, 'deposit', 3000.00, '2025-09-06'),
(1234567892, 'deposit', 7000.00, '2025-09-07'),
(1234567890, 'deposit', 12000.00, '2025-09-08');

--@block
CREATE TABLE Loans (
    loan_id INT PRIMARY KEY AUTO_INCREMENT,
    acct_no BIGINT NOT NULL,
    loan_amount DECIMAL(12,2) NOT NULL,
    interest_rate DECIMAL(5,2) NOT NULL DEFAULT 7.5,
    tenure_months INT NOT NULL,
    emi_amount DECIMAL(12,2),
    status ENUM('PENDING','ACTIVE','CLOSED','DEFAULT') DEFAULT 'PENDING',
    issued_date DATE DEFAULT (CURRENT_DATE),
    FOREIGN KEY (acct_no) REFERENCES accHolder(acct_no) ON DELETE CASCADE
);


--@block
SELECT * FROM loans